@import "../../styles/colors.scss";

.mainHeading {
	font-family: "Alfa Slab One", cursive;
	font-size: 36px;
	font-weight: 500;
	color: $color-text-primary;
	margin: 0;
	text-transform: uppercase;
	text-shadow: 2px 4px 4px rgba($color-background, 0.5);
	letter-spacing: 2px;

	.bigger {
		font-size: 50px;
	}
}
@media screen and (max-width: 350px) {
	.mainHeading {
		font-size: 30px;

		.bigger {
			font-size: 40px;
		}
	}
}
@media screen and (min-width: 768px) {
	.mainHeading {
		font-size: 64px;
		.bigger {
			font-size: 96px;
		}
	}
}
@media screen and (min-width: 1200px) {
	.mainHeading {
		font-size: 72px;
		.bigger {
			font-size: 112px;
		}
	}
}
