@import "../../../../styles/colors";

.productItem {
	width: 80px;
	margin: 0 6px 6px;

	.thumbnail {
		width: 70px;
		height: 70px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		margin: auto;
		.quantity {
			position: absolute;
			top: 7px;
			left: 0;
			background-color: $color-primary;
			line-height: 24px;
			font-weight: 700;
			font-size: 13px;
			color: $color-background;
			text-align: center;
			height: 24px;
			width: 24px;
			border-radius: 50px;
		}
	}
	.title {
		font-size: 11px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 0 5px;
		word-break: break-word;
		word-wrap: break-word;
		color: $color-text-secondary;
		text-align: center;
	}
}
