@import "../../../styles/colors";

.background {
	background-color: $color-primary;
	left: 0;
	margin-bottom: 32px;
	height: 56px;
	width: 250px;
	position: relative;
	margin-left: -16px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $color-background;
	font-size: 18px;
	&::after {
		content: "";
		display: block;
		position: absolute;
		right: -56px;
		top: 0;
		border: 28px solid transparent;
		border-left-color: $color-primary;
	}
}
