@import "../../../../styles/colors";

.container {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: $color-card;
	border-radius: 4px;
	color: $color-text-primary;
	margin: 8px;
	padding: 4px;

	h2 {
		margin: 8px;
		text-align: center;
		font-size: 20px;
	}

	.thumbnail {
		width: 100px;
		height: 100px;
		position: relative;
	}
	.fullPrice {
		font-size: 28px;
	}
	.pointPrice {
		font-size: 14px;
	}
	.currency {
		font-size: 20px;
	}
}
.isSurcharge::before {
	content: "+";
}
.buttons {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	.decrement,
	.increment {
		cursor: pointer;
		transition: all 0.2s;
		width: 36px;
		height: 36px;
		background-color: $color-primary;
		border-radius: 4px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $color-background;
		font-size: 28px;
		font-weight: 700;
		border: none;
		&:hover {
			background-color: darken($color: $color-primary, $amount: 15);
		}
	}
}
.active {
	border: 2px solid $color-primary;
}
