$color-primary: #fcdf03;
$color-accent: #6c6b60;
$color-background: #1d1c16;
$color-card: #2a2922;
$color-text-tertiary: #9f9e93;
$color-text-primary: #f3f3f2;
$color-text-secondary: #cececa;
$green: #1db940;
